.modal__add--task {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0006;
    display: flex;
  }
  
  .modal__wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .modal__window {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 768px;
    background-color: #fff;
    padding: 64px;
  }
  
  .modal__window--close {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 4px;
    font-size: 48px;
    padding: 0px 0 32px 0;
    margin-left: auto;
  }
  
  .modal__window input {
    font-size: 18px;
    margin-bottom: 24px;
    padding: 24px 16px;
    border: 1px solid #eee;
    border-radius: 2px;
  }
  
  .modal__window .empty {
    border: 1px solid red;
  }
  
  .empty::placeholder {
    color: red;
  }